body {
  font-family: "Ubuntu", "Vazirmatn";
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
  background-color: #c9c5b1;
  color: #333;
  line-height: 1.7;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  /* background-color: #fff; */
  background-color: #fff9d8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header {
  text-align: center;
  margin-bottom: 25px;
}
header h1 {
  font-size: 2.5em;
  /* color: #4c51bf; */
  color: #458588;
  margin-bottom: 10px;
}
header p {
  font-size: 1.1em;
  color: #6b7280;
  margin-bottom: 15px;
}
section {
  margin-bottom: 30px;
}
section h2 {
  font-size: 2em;
  border-bottom: 2px solid #d1d5db;
  padding-bottom: 12px;
  margin-bottom: 20px;
  color: #374151;
}
section h3 {
  font-size: 1.5em;
  /* color: #4c51bf; */
  color: #b16286;
  margin-bottom: 10px;
}
section p {
  font-size: 1.1em;
  color: #6b7280;
  margin-bottom: 15px;
}
ul,
ol {
  padding-left: 25px;
  margin-bottom: 15px;
}
ul li,
ol li {
  margin-bottom: 8px;
  font-size: 1.1em;
}
.skills-section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}
.skills-section ul li {
  /* background-color: #e0e7ff; */
  color: #333;
  background-color: #689d6a56;
  padding: 10px 15px; /* Adjusted horizontal padding */
  border-radius: 25px;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  /* display: flex; */
  align-items: center;
  margin-bottom: 10px;
}

.skills-section ul li:hover {
  /* color: #fff; */
  background-color: #9fcfa156;
  transform: translateY(-2px);
}

.contact-section ul {
  list-style: none;
  /* display: flex; */
  /* flex-wrap: wrap; */
  gap: 15px;
  padding: 0;
}
.contact-section ul li {
  /* background-color: #e0e7ff; */
  color: #333;
  background-color: #689d6a56;
  padding: 10px 15px; /* Adjusted horizontal padding */
  border-radius: 25px;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  /* display: flex; */
  align-items: center;
  margin-bottom: 10px;
}

.contact-section ul li:hover {
  /* color: #fff; */
  background-color: #9fcfa156;
  transform: translateY(-2px);
}

footer {
  text-align: center;
  padding: 25px;
  background-color: #f7f7f7;
  border-top: 1px solid #d1d5db;
  color: #555;
  font-size: 1.1em;
}

a{
  color: #333;
  text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    margin: 10px;
  }
  header h1 {
    font-size: 2em;
  }
  section h2 {
    font-size: 1.5em;
  }
  section h3 {
    font-size: 1.2em;
  }
  .skills-section ul {
    flex-direction: row;
    gap: 10px;
  }
  .skills-section ul li {
    margin-right: 0;
    margin-bottom: 10px;
    width: fit-content;
    text-align: center;
    padding: 10px; /* Adjusted padding for smaller screens */
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.75em;
  }
  header p {
    font-size: 1em;
  }
  .container {
    padding: 15px;
  }
  section {
    margin-bottom: 20px;
  }
  section h2 {
    font-size: 1.25em;
  }
  section h3 {
    font-size: 1.125em;
  }
  ul li,
  ol li {
    font-size: 1em;
  }
  .skills-section ul li {
    padding: 8px 10px;
  }
}
