---
import "../styles/main.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
		
		<header>
			<h1>Yasser H. Zadeh</h1>
			<p>Astronomy Astrophysics Department</p>
		</header>
		
        <section>
            <h2>About me | درباره‌ی من</h2>
            <p>I'm Yaser Hosseinzadeh; a student of the Astronomy and Astrophysics Olympiad.
                I've a good and deep understanding of mathematical and physics concepts and I'm immensely interested in learning.
                I'm also skilled in programming, with a particular expertise in data analysis and data mining, and I am still learning deep learning.</p>
			
            <p style="direction:rtl">من یاسر حسین زاده هستم؛ دانش‌آموز المپیاد نجوم و اخترفیزیک.<br>
                درک خوب و عمیقی از مفاهیم ریاضی و فیزیک دارم و بی‌اندازه به یادگیری علاقه‌مندم.<br>
                همچنین در برنامه نویسی ماهر هستم، به طور ویژه روی تحلیل‌داده و داده‌کاوی تخصص دارم و همچنان درحال آموختن یادگیری عمیق هستم.
            </p>
        </section>

        <section>
            <h2>Education</h2>
            <div class="certifs">

                <!-- Linux -->
                <div class="certif">
                    <a href="https://quera.org/certificate/EfXOD4HL/"><h3>Linux</h3></a>
                    <div style="max-width:150px;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 70.6956%;"><iframe src="//iframely.net/cus6bLw0" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen></iframe></div></div>
                </div>
                <!-- Linux -->
                <div class="certif">
                    <div class="info">
                        <a href="https://quera.org/certificate/EfXOD4HL/"><h3>Linux</h3></a>
                        <p>bash script</p>
                    </div>
                    <div style="max-width:150px;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 70.6956%;"><iframe src="//iframely.net/cus6bLw0" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen></iframe></div></div>
                </div>
            </div>
        </section>

        <section class="skills-section">
            <h2>Skills</h2>
            <ul>
                <li>Skill 1</li>
                <li>Skill 2</li>
                <li>Skill 3</li>
                <li>Skill 4</li>
                <li>Skill 5</li>
                <li>Skill 6</li>
            </ul>
        </section>

        <section>
            <h2>Projects</h2>
            <h3>Project 1</h3>
            <p>Description of the project and your role.  What technologies did you use?</p>
        </section>
    
        <section class="contact-section">
			<h2>Contact Me</h2>
            <p>I'm always open to new opportunities and collaborations. Feel free to reach out to me through the following channels:</p>
            <a href="mailto:your.email@example.com">Send Email</a>
            <a href="tel:+1234567890">Call Me</a>
            <div class="social-icons">
				<ul>
					<li><a href="#">Phone : <i class="fab fa-linkedin"></i></a></li>
					<li><a href="#">Email : <i class="fab fa-github"></i></a></li>
					<li><a href="#">Github : <i class="fab fa-twitter"></i></a></li>
				</ul>
            </div>
        </section>
		

        <footer>
            <p>〈Yasser| H |Zadeh〉© 2024. Some rights reserved.</p>
        </footer>
    </div>
</body>
</html>
