---
import "../styles/main.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
		
		<header>
			<h1>Yasser H. Zadeh</h1>
			<p>Astronomy Astrophysics Department</p>
		</header>
		
        <section>
            <h2>About me | درباره‌ی من</h2>
            <p>I'm Yaser Hosseinzadeh; a student of the Astronomy and Astrophysics Olympiad.
                I've a good and deep understanding of mathematical and physics concepts and I'm immensely interested in learning.
                I'm also skilled in programming, with a particular expertise in data analysis and data mining, and I am still learning deep learning.</p>
			
            <p style="direction:rtl">من یاسر حسین زاده هستم؛ دانش‌آموز المپیاد نجوم و اخترفیزیک.<br>
                درک خوب و عمیقی از مفاهیم ریاضی و فیزیک دارم و بی‌اندازه به یادگیری علاقه‌مندم.<br>
                همچنین در برنامه نویسی ماهر هستم، به طور ویژه روی تحلیل‌داده و داده‌کاوی تخصص دارم و همچنان درحال آموختن یادگیری عمیق هستم.
            </p>
        </section>

        <section>
            <h2>Education & Certificates</h2>
            <div class="certifs">


                <!-- Linux -->
                <div class="certif">
                    <div class="info">
                        <a href="https://quera.org/certificate/XDUccl6C/"><h3>Algorithm & Data structures</h3></a>
                        <p>Algorithm, Data Structures, Graph Algorithm, Dynamic programming</p>
                    </div>
                    <div style="max-width: 150px;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 70.6956%;"><iframe src="//iframely.net/posH7Gwy" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen></iframe></div></div>
                </div>

                <!-- Linux -->
                <div class="certif">
                    <div class="info">
                        <a href="https://quera.org/certificate/EfXOD4HL/"><h3>Linux</h3></a>
                        <p>
                            Bash script, Accessibility management,<br>
                            Network engineering, Linux, Network administration
                        </p>
                    </div>
                    <div style="max-width:150px;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 70.6956%;"><iframe src="//iframely.net/cus6bLw0" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen></iframe></div></div>
                </div>

                <!-- Front-end -->
                <div class="certif">
                    <div class="info">
                        <a href="https://quera.org/certificate/jGedKLxL/"><h3>Front-end Development</h3></a>
                        <p>
                            HTML, CSS, JS, Bootstrap, Tailwind, JQuery, Ajax
                        </p>
                    </div>
                    <div style="max-width: 150px;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 70.75%;"><iframe src="//iframely.net/rqbpbpSC" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen></iframe></div></div>
                </div>
                
                <!-- Git -->
                <div class="certif">
                    <div class="info">
                        <a href="https://quera.org/certificate/6Kxz4vi8/"><h3>Git</h3></a>
                    </div>
                    <div style="max-width: 150px;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 70.75%;"><iframe src="//iframely.net/85f9sZG7" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen></iframe></div></div>
                </div>

                <!-- Advan -->
                <div class="certif">
                    <div class="info">
                        <a href="https://quera.org/certificate/jV7rHmFs/"><h3>Python</h3></a>
                        <p>Python, OOP, Socket programming, Work with Files, DataBase, Multi-threading, RegEx, Data Structures, Network</p>
                    </div>
                    <div style="max-width: 150px;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 70.75%;"><iframe src="//iframely.net/QIq7jWXu" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen></iframe></div></div>
                </div>



            </div>
        </section>

        
        <!-- Technical Skills -->
        <section class="skills-section">
            <h2>Technical Skills | مهارت های فنی</h2>
            <ul>
                <li>Data analysis</li>
                <li>Python</li>
                <li>R</li>
                <li>C++</li>
                <li>Matlab</li>
                <li>Numpy</li>
                <li>Pandas</li>
                <li>Scipy</li>
                <li>Matplotlib</li>
                <li>TensorFlow</li>
                <li>OpenCV</li>
                <li>Scikit-learn</li>
                <li>Scrapy</li>
                <li>Selenium</li>
                <li>SymPy</li>
                <li>Qt</li>
                <li>Astropy</li>
                <li>Linux</li>
                <li>Calculus (elementary)</li>
                <li>probability and statistics</li>
                <li>Algorithm & Data structures</li>
            </ul>
        </section>

        <!-- Soft Skills -->
        <section class="skills-section">
            <h2>Technical Skills | مهارت های نرم</h2>
            <ul>
                <li>مهارت حل مسئله</li>
                <li>پشتکار</li>
                <li>آموزش دادن</li>
                <li>مدیریت دانش</li>
                <li>سخنرانی در جمع</li>
                <li>نوآوری</li>
                <li>قدرت تاثیرگذاری بر دیگران</li>
                <li>مهارت در نگارش</li>
                <li>شنونده خوب</li>
                <li>حل تعارض</li>
                <li>برنامه ریزی استراتژیک</li>
                <li>تیم سازی</li>
                <li>مدیریت تیم</li>
                <li>خلاقیت و ایده پردازی</li>
            </ul>
        </section>
<!-- 
        <section>
            <h2>Projects</h2>
            <h3>Project 1</h3>
            <p>Description of the project and your role.  What technologies did you use?</p>
        </section> -->

        
        <section style="margin-top: 120px; margin-bottom: 120px;">
            <div style="text-align: center;">
                <h2>کسب رتبه اول در سیزدهمین جشنواره ملی پژوهشی سلام کاپ در بخش مقالات</h2>
                <img src="../../public/salam.jpg" alt="ی رتبه اول سیزدهمین جشنواره ملی پژوهشی سلام کاپ" style="max-width: 50%;">
            </div>
        </section>

        <section class="contact-section">
			<h2>Contact Me | تماس با من</h2>
            <p>I am always open to new opportunities and collaborations. You can contact me through the following means:</p>
            <p style="direction: rtl;">من همیشه پذیرای فرصت‌ها و همکاری‌های جدید هستم. می‌توانید از طریق روش‌های زیر با من تماس بگیرید:</p>
            <div class="social">
				<ul>
					<a href="tel:+989058817233"><li>Phone : <i>+989058817233</i></li></a>
					<a href="mailto:one.astro.nerd@gmail.com"><li>Email : <i>one.astro.nerd@gmail.com</i></li></a>
					<a href="https://github.com/OneAstroNerd"><li>Github : <i>OneAstroNerd</i></li></a>
					<a href="https://t.me/OneAstroNerd"><li>Telegram : <i>@OneAstroNerd</i></li></a>
				</ul>
            </div>
        </section>
		

        <footer>
            <p>〈Yasser| H |Zadeh〉© 2025. Some rights reserved.</p>
        </footer>
    </div>
</body>
</html>
